# my ignore file
.git/
.pyre/
.idea/
docker-push.sh
docker-build.sh
download-models.sh
docker-up.sh
.orange-ci.yml
docker-compose.yml
docker-compose-simple.yml
README.ms
MAINTAINERS
test*.yml
toy*
release.sh
shell/
.tmp/
.git/
.github/
Dockerfiles/
.dockerignore